In [1]:
our_dictionary = {'one':1,'two':2,'three':3}
type(our_dictionary)

dict

In [2]:
our_dictionary = {'one':1,'two':2,'three':3}
our_dictionary['two']

2

In [4]:
our_dictionary = {'one':1,'two':2,'three':3}
print(f"There are {our_dictionary['three']} glasses on the table.")#key returns value

There are 3 glasses on the table.

In [7]:
age_dict = {'tanay':20,'yaman':22, 'atul':24, 'tapan':34}
for value in age_dict.values():
    print(value)

20
22
24
34

In [8]:
age_dict = {'tanay':20,'yaman':22, 'atul':24, 'tapan':34}
for key in age_dict.keys():
    print(key)

tanay
yaman
atul
tapan

In [9]:
age_dict = {'tanay':20,'yaman':22, 'atul':24, 'tapan':34}
for item in age_dict.items():
    print(item)

('tanay', 20)
('yaman', 22)
('atul', 24)
('tapan', 34)

In [12]:
age_dict = {'tanay':20,'yaman':22, 'atul':24, 'tapan':34}
for person,age in age_dict.items():
    print(f'the age  of {person} : {age}')

the age  of tanay : 20
the age  of yaman : 22
the age  of atul : 24
the age  of tapan : 34

In [2]:
age_dict = {'tanay':20,'yaman':22, 'atul':24, 'tapan':34}
per_name = input("Name : ")
print(f"the age of {per_name} is {age_dict.get(per_name,-1)}")#get(key,default) return ae of 22
per_name = input("Name : ")
print(f"the age of {per_name} is {age_dict.get(per_name,-1)}")#return deault -1

Name : yaman
the age of yaman is 22
Name : jayesh
the age of jayesh is -1

In [4]:
# dictionary comprehension
d1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
double = {k:v*2 for (k,v) in d1.items()}
print(double)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [6]:
d1 = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8}
doubleven = {k*2:v**2 for (k,v) in d1.items() if v%2==0}
print(doubleven)

{'bb': 4, 'dd': 16, 'ff': 36, 'hh': 64}

In [8]:
number = range(10)
dict1 = {n:n**2 for n in number if n%2==0} 
print(dict1)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}