In [4]:
# tuple
thisistuple = ('cherry','mango','banana','apple')
print(thisistuple)
print(type(thisistuple))
# we cannot change values in tuple but select them

('cherry', 'mango', 'banana', 'apple')
<class 'tuple'>

In [7]:
thisistuple = ('cherry','mango','banana','apple')
print(thisistuple[1])
print(thisistuple[3])
print(thisistuple[-1])

mango
apple
apple

In [8]:
thisistuple = ('cherry','mango','banana','apple')
print(len(thisistuple))

4

In [9]:
thisistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thisistuple[2:6])

('cherry', 'orange', 'kiwi', 'melon')

In [10]:
thisistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
thisistuple[2]="carrot"#not supported

TypeError: 'tuple' object does not support item assignment

In [12]:
thisistuple = ("apple",  "cherry", "orange", "kiwi", "melon", "mango", "banana")
thisislist = list(thisistuple)
print(thisislist)#typecasting

['apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'banana']
('apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'banana')

In [13]:
# convert tuple to list to add element
x = ('apple','banana','mango')
y = list(x)
y.append('kiwi')
x = tuple(y)
print(x)

('apple', 'banana', 'mango', 'kiwi')

In [21]:
tup = ("tanay")#not utple
print(type(tup))
tup1 = ('tanay',)
print(type(tup1))#it is tuple

<class 'str'>
<class 'tuple'>

In [23]:
tup = (1,2,3)
tup1 = (4,5,6)
tup2 = tup + tup1
print(tup2)

(1, 2, 3, 4, 5, 6)